.nodesGrid{
    top: 50px;
}

.nodeContainer {
    /* border: red solid 2px; */
    overflow: hidden;
}

#nodesGraph, #differentGraph {
    transform-origin: 26px 185px;
    margin-top: -185px;
    margin-left: -26px;
    height: 100vh;
    width: 510px;
}

.confirmDelete:hover{
    opacity: .4;
    cursor: pointer;
}